article {
   width: 731px;
   height: 280px;
   border-radius: 10px;
   background-color: white;
   box-shadow: 1px 2px 23px rgba(0, 0, 0, 0.247);
   display: grid;
   grid-template-columns: 286px 445px;
   grid-template-rows: 1fr;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
}

.article__thumbnail {
   width: 286px;
   border-radius: 10px 0 0 10px;
}

.article__img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: left;
   border-radius: 10px 0 0 10px;
}

.article__info {
   padding: 3rem 3.8rem 0 4rem;
}

.article__title {
   line-height: 1.5;
   margin-bottom: 1rem;
}

.article__menu {
   padding-left: 4rem;
   padding-right: 4rem;
   display: flex;
   align-items: center;
   margin-top: 2rem;
   width: 100%;
}

.article__desktop {
   display: flex;
}

.avatarIMG {
   width: 40px;
   border-radius: 50%;
}

.article__details {
   display: flex;
   flex-direction: column;
   margin-left: 2rem;
}

.article__details span {
   font-weight: 600;
   color: var(--Very-Dark-Grayish-Blue);
}

.article__details time {
   color: var(--Grayish-Blue);
}

.btn {
   border-radius: 50%;
   width: 32px;
   height: 32px;
   border: none;
   color: var(--Desaturated-Dark-Blue);
   cursor: pointer;
   margin-left: auto;
   position: relative;
}

.btn.show {
   background-color: var(--Desaturated-Dark-Blue);
   color: var(--Light-Grayish-Blue);
}

.tooltip {
   position: absolute;
   width: 248px;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -180%);
   border-radius: 15px;
   background-color: var(--Very-Dark-Grayish-Blue);
   color: var(--Grayish-Blue);
   height: 55px;
   display: flex;
   align-items: center;
   letter-spacing: 5px;
   padding: 0 2rem;
   justify-content: space-around;
   opacity: 0;
   visibility: hidden;
}

.btn.show .tooltip {
   opacity: 1;
   visibility: visible;
}

.triangle {
   width: 0;
   position: absolute;
   bottom: -12px;
   height: 0;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
   border-top: 15px solid var(--Very-Dark-Grayish-Blue);
}

.article__mobile {
   display: none;
}

@media (max-width: 870px) {
   article {
      width: 327px;
      height: 512px;
      border-radius: 10px;
      grid-template-columns: 1fr;
      grid-template-rows: 200px 1fr;
   }

   .article__menu {
      height: 64px;
   }

   .article__desktop.hide {
      display: none;
   }

   .article__mobile.show {
      display: block;
   }

   .article__menu.mobile {
      height: 65px;
      background-color: var(--Very-Dark-Grayish-Blue);
      border-radius: 0 0 10px 10px;
   }

   .article__title {
      font-size: 1.6rem;
   }

   .article__thumbnail {
      height: 200px;
      width: 327px;
      border-radius: 10px 10px 0 0;
   }

   .article__img {
      border-radius: 10px 10px 0 0;
   }

   .article__info {
      padding: 3rem 3.5rem 1rem 4rem;
   }

   .tooltip {
      display: none;
   }

   .article__ul {
      display: flex;
      align-items: center;
   }

   .article__li {
      margin-right: 1.3rem;
      letter-spacing: 5px;
      color: var(--Grayish-Blue);
      display: flex;
   }
}
